In [6]:
library(tidyverse)
library(dslabs)
data(heights)

s <- heights %>% filter(sex ==  "Male") %>% summarize(mean = mean(height), sd = sd(height))
s

  mean     sd
1 69.31475 3.611024

In [7]:
class(s)

[1] "data.frame"

In [8]:
s1 <- heights %>% filter(sex ==  "Male") %>% summarize(mean = mean(height), sd = sd(height), median = median(height), max = max(height), min = min(height))
s1

  mean     sd       median max      min
1 69.31475 3.611024 69     82.67717 50

In [9]:
quantile(heights$height, c(0.0, 0.05, 1.0))

      0%       5%     100%
50.00000 62.00000 82.67717

In [10]:
# This code generates error because summarize accept only those function which return single values
heights %>% filter(sex == "Male") %>% summarize(range = quantile(height, c(0.0, 0.5, 1.0)))

ERROR: Error: Column `range` must be length 1 (a summary value), not 3

# Dot Placeholder

### Pull() and dot behaves in the same way

In [11]:
library(tidyverse)
library(dslabs)
data(murders)

murders <- murders %>% mutate(murder_rate = (total/population) * 100000) 
summarize(murders, mean = mean(murder_rate))

us_murder_rate <- murders %>% summarize(rate = sum(total)/ sum(population) *100000)
r <- us_murder_rate %>% .$rate
class(r)
r
class(us_murder_rate$rate)

  mean
1 2.779125

[1] "numeric"

[1] 3.034555

[1] "numeric"

In [13]:
us_murder_rate <- murders %>%
    summarize(rate = sum(total) / sum(population) * 100000) %>%
    .$rate
us_murder_rate

[1] 3.034555

In [14]:
heights %>% group_by(sex) %>% summarize(mean = mean(height), sd = sd(height))
murders %>% mutate(murder_rate = total/population * 100000) %>% group_by(region) %>% summarize(mean = mean(murder_rate), sd = sd(murder_rate))

  sex    mean     sd
1 Female 64.93942 3.760656
2 Male   69.31475 3.611024

  region        mean     sd
1 Northeast     1.847500 1.174086
2 South         4.417012 3.372884
3 North Central 2.182040 1.438655
4 West          1.833401 1.172158

In [24]:
murders %>% mutate(murder_rate = total/population * 100000) %>% arrange(desc(murder_rate)) %>% top_n(10, murder_rate)

   state                abb region        population total murder_rate
1  District of Columbia DC  South          601723     99   16.452753
2  Louisiana            LA  South         4533372    351    7.742581
3  Missouri             MO  North Central 5988927    321    5.359892
4  Maryland             MD  South         5773552    293    5.074866
5  South Carolina       SC  South         4625364    207    4.475323
6  Delaware             DE  South          897934     38    4.231937
7  Michigan             MI  North Central 9883640    413    4.178622
8  Mississippi          MS  South         2967297    120    4.044085
9  Georgia              GA  South         9920000    376    3.790323
10 Arizona              AZ  West          6392017    232    3.629527

In [20]:
murders %>% arrange(population) %>% head()

  state                abb region        population total murder_rate
1 Wyoming              WY  West          563626      5     0.8871131
2 District of Columbia DC  South         601723     99    16.4527532
3 Vermont              VT  Northeast     625741      2     0.3196211
4 North Dakota         ND  North Central 672591      4     0.5947151
5 Alaska               AK  West          710231     19     2.6751860
6 South Dakota         SD  North Central 814180      8     0.9825837

In [21]:
murders %>% arrange(desc(population)) %>% head()

  state        abb region        population total murder_rate
1 California   CA  West          37253956   1257  3.374138
2 Texas        TX  South         25145561    805  3.201360
3 Florida      FL  South         19687653    669  3.398069
4 New York     NY  Northeast     19378102    517  2.667960
5 Illinois     IL  North Central 12830632    364  2.836961
6 Pennsylvania PA  Northeast     12702379    457  3.597751

In [22]:
murders %>% arrange(region, population) %>% head()

  state         abb region    population total murder_rate
1 Vermont       VT  Northeast  625741      2   0.3196211
2 Rhode Island  RI  Northeast 1052567     16   1.5200933
3 New Hampshire NH  Northeast 1316470      5   0.3798036
4 Maine         ME  Northeast 1328361     11   0.8280881
5 Connecticut   CT  Northeast 3574097     97   2.7139722
6 Massachusetts MA  Northeast 6547629    118   1.8021791

In [23]:
murders %>% top_n(10, murder_rate)

   state                abb region        population total murder_rate
1  Arizona              AZ  West          6392017    232    3.629527
2  Delaware             DE  South          897934     38    4.231937
3  District of Columbia DC  South          601723     99   16.452753
4  Georgia              GA  South         9920000    376    3.790323
5  Louisiana            LA  South         4533372    351    7.742581
6  Maryland             MD  South         5773552    293    5.074866
7  Michigan             MI  North Central 9883640    413    4.178622
8  Mississippi          MS  South         2967297    120    4.044085
9  Missouri             MO  North Central 5988927    321    5.359892
10 South Carolina       SC  South         4625364    207    4.475323