In [3]:
a <- c(380, 232, 324, 340)
b <- c("a", "b", "c", "d")
d <- table(a,b)
class(d)

[1] "table"

In [4]:
names(a) <- b
a

  a   b   c   d
380 232 324 340

In [7]:
e = c("a" =50, "b"= 60)
f = c(l = 12, k=32)
f

 l  k
12 32

In [8]:
a[1:3]

  a   b   c
380 232 324

In [11]:
a[c(2,3)]

  b   c
232 324

In [12]:
a[2]

  b
232

In [2]:
library(dslabs)
data(murders)
sort(murders$total)

x <- c(31, 4, 15, 92, 65)
x
sort(x)    # puts elements in order

index <- order(x)    # returns index that will put x in order
x[index]    # rearranging by this index puts elements in order
order(x)

murders$state[1:10]
murders$abb[1:10]

index <- order(murders$total)
murders$abb[index]    # order abbreviations by total murders

max(murders$total)    # highest number of total murders
i_max <- which.max(murders$total)    # index with highest number of murders
murders$state[i_max]    # state name with highest number of total murders

x <- c(31, 4, 15, 92, 65)
x
rank(x)    # returns ranks (smallest to largest)

 [1]    2    4    5    5    7    8   11   12   12   16   19   21   22   27   32
[16]   36   38   53   63   65   67   84   93   93   97   97   99  111  116  118
[31]  120  135  142  207  219  232  246  250  286  293  310  321  351  364  376
[46]  413  457  517  669  805 1257

[1] 31  4 15 92 65

[1]  4 15 31 65 92

[1]  4 15 31 65 92

[1] 2 3 1 5 4

 [1] "Alabama"              "Alaska"               "Arizona"
 [4] "Arkansas"             "California"           "Colorado"
 [7] "Connecticut"          "Delaware"             "District of Columbia"
[10] "Florida"

 [1] "AL" "AK" "AZ" "AR" "CA" "CO" "CT" "DE" "DC" "FL"

 [1] "VT" "ND" "NH" "WY" "HI" "SD" "ME" "ID" "MT" "RI" "AK" "IA" "UT" "WV" "NE"
[16] "OR" "DE" "MN" "KS" "CO" "NM" "NV" "AR" "WA" "CT" "WI" "DC" "OK" "KY" "MA"
[31] "MS" "AL" "IN" "SC" "TN" "AZ" "NJ" "VA" "NC" "MD" "OH" "MO" "LA" "IL" "GA"
[46] "MI" "PA" "NY" "FL" "TX" "CA"

[1] 1257

[1] "California"

[1] 31  4 15 92 65

[1] 3 1 2 5 4

In [4]:
name <- c("Mandi", "Amy", "Nicole", "Olivia")
distance <- c(0.8, 3.1, 2.8, 4.0)
time <- c(10, 30, 40, 50)
time <- time / 60 
dataframe <- data.frame("name" = name, "distance" = distance, "time" = time, speed = distance/time)
dataframe

  name   distance time      speed
1 Mandi  0.8      0.1666667 4.8
2 Amy    3.1      0.5000000 6.2
3 Nicole 2.8      0.6666667 4.2
4 Olivia 4.0      0.8333333 4.8

In [5]:
dataframe$name[which.max(dataframe$speed)]

[1] Amy
Levels: Amy Mandi Nicole Olivia

In [3]:
# defining murder rate as before
murder_rate <- murders$total / murders$population * 100000
# creating a logical vector that specifies if the murder rate in that state is less than or equal to 0.71
index <- murder_rate <= 0.71
# determining which states have murder rates less than or equal to 0.71
murders$state[index]
# calculating how many states have a murder rate less than or equal to 0.71
sum(index)

# creating the two logical vectors representing our conditions
west <- murders$region == "West"
safe <- murder_rate <= 1
# defining an index and identifying states with both conditions true
index <- safe & west
murders$state[index]

[1] "Hawaii"        "Iowa"          "New Hampshire" "North Dakota"
[5] "Vermont"

[1] 5

[1] "Hawaii"  "Idaho"   "Oregon"  "Utah"    "Wyoming"

In [4]:
x <- c(FALSE, TRUE, FALSE, TRUE, TRUE, FALSE)
which(x)    # returns indices that are TRUE

# to determine the murder rate in Massachusetts we may do the following
index <- which(murders$state == "Massachusetts")
index
murder_rate[index]

# to obtain the indices and subsequent murder rates of New York, Florida, Texas, we do:
index <- match(c("New York", "Florida", "Texas"), murders$state)
index
murders$state[index]
murder_rate[index]

x <- c("a", "b", "c", "d", "e")
y <- c("a", "d", "f")
y %in% x

# to see if Boston, Dakota, and Washington are states
c("Boston", "Dakota", "Washington") %in% murders$state

[1] 2 4 5

[1] 22

[1] 1.802179

[1] 33 10 44

[1] "New York" "Florida"  "Texas"

[1] 2.667960 3.398069 3.201360

[1]  TRUE  TRUE FALSE

[1] FALSE FALSE  TRUE